<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ "/" | relative_url }}">Home</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ "/blog" | relative_url }}">Blog</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
